<h2>Update the drone</h2>

<form action="/drones/{{currentDrone._id}}/edit" method="post">
  <label for="name">Name
    <input type="text" name="name" id="name" placeholder="{{currentDrone.name}}"/>
  </label>
  <label for="propellers">Propellers
    <input type="number" name="propellers" id="propellers" placeholder="{{currentDrone.propellers}}"/>
  </label>
  <label for="maxSpeed">Max maxSpeed
    <input type="number" name="maxSpeed" id="maxSpeed" placeholder="{{currentDrone.maxSpeed}}"/>
  </label>

  <button type="submit">Update</button>
</form>